@import "../LIBS/bootstrap/scss/bootstrap.scss";

h1{

    float: inline-end;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 25, 153);
    width: auto;
    height: 100px;

   
}
nav{
    text-align: center;
}